<?xml version='1.0'?>
<config
    xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
    xsi:noNamespaceSchemaLocation='urn:magento:module:Magento_Store:etc/config.xsd'
>
    <default>
		<df_payment>
			<!--
			 	2016-04-12
			 	You can not use the value of «checkout.com»,
				(Although the development environment (with XSD validator) does not prevent this for some reason)
			 	Element 'group', attribute 'id': [facet 'pattern']
			 	The value 'checkout.com' is not accepted by the pattern '[a-zA-Z0-9_]{1,}'.
			-->
			<checkout_com>
				<!--
2016-06-28
http://developers.checkout.com/docs/server/api-reference/charges
«A description that can be added to this object.»
				-->
				<description>{order.id}</description>
				<!--
2016-03-06
How is a payment method's getConfigPaymentAction() used? https://mage2.pro/t/724
How is a payment method's authorize() used? https://mage2.pro/t/707
How is a payment method's capture() used? https://mage2.pro/t/708

«authorize_capture» should be used, not «capture»:
https://github.com/magento/magento2/blob/6ce74b2/app/code/Magento/Payment/Model/Method/AbstractMethod.php#L33
https://github.com/magento/magento2/blob/6ce74b2/app/code/Magento/Sales/Model/Order/Payment.php#L411-L433
				-->
				<actionForNew>authorize_capture</actionForNew>
				<actionForReturned>authorize_capture</actionForReturned>
				<title>Bank Card</title>
				<!-- 2016-03-15 -->
				<title_backend>Checkout.com</title_backend>
			</checkout_com>
		</df_payment>
        <payment>
            <dfe_checkout_com>
                <!--
                 	2016-02-15
                	https://github.com/magento/magento2/blob/6ce74b2/app/code/Magento/Payment/Helper/Data.php#L88-L91
                -->
				<model>Dfe\CheckoutCom\Method</model>
				<!--
				 	2016-05-06
				 	Similarily to: https://mage2.pro/t/topic/898/3
				-->
				<paymentInfoKeys>cc_type,cc_number,avsPostalCodeResponseCode,avsStreetAddressResponseCode,cvvResponseCode,processorAuthorizationCode,processorResponseCode,processorResponseText,liabilityShifted,liabilityShiftPossible,riskDataId,riskDataDecision</paymentInfoKeys>
				<privateInfoKeys>avsPostalCodeResponseCode,avsStreetAddressResponseCode,cvvResponseCode,processorAuthorizationCode,processorResponseCode,processorResponseText,liabilityShifted,liabilityShiftPossible,riskDataId,riskDataDecision</privateInfoKeys>
            </dfe_checkout_com>
        </payment>
    </default>
</config>
