<?xml version='1.0'?>
<config
	xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
	xsi:noNamespaceSchemaLocation='urn:magento:framework:ObjectManager/etc/config.xsd'
>
	<virtualType name='Dfe\CheckoutCom\Block\Info' type='Df\Payment\Block\ConfigurableInfo'>
		<arguments>
			<argument name='data' xsi:type='array'>
				<item xsi:type='const' name='methodCode'>Dfe\CheckoutCom\Method::CODE</item>
			</argument>
		</arguments>
	</virtualType>
	<virtualType name='Dfe\CheckoutCom\Ext' type='Df\Config\Ext'>
		<arguments>
			<argument name='name' xsi:type='string'>mage2pro/checkout.com</argument>
		</arguments>
	</virtualType>
</config>